@import '/assets/fonts';
@import '/assets/colors';

.lan {
    font-size: 14px;
    padding: 20px;
}

.lan>img {
    padding: 10px;
}

.centered-row {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: $noto-sans;
    color: $primary;
}

.sign-up-form {
    margin-bottom: 7px;
    max-width: 286px;
    margin: auto;
}

.input-container {
    width: 286px;
}

.sign-up-form>div>input {
    width: 100%;
    height: 44px;
    background-color: $input;
    border: none;
    border-radius: 8px;
    padding: 11px 12px;
}

.btn-create {
    background-color: black !important;
    margin-top: 22px;
    color: white;
}

.sign-up {
    font-weight: 500;
    color: $primary;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.error-container {
    position: relative;
    margin-top: 20px;
}
.error-container > div {
    color: red;
    font-size: 12px;
    //margin-top: 14px;
    position: absolute;
    bottom:0; text-align: center;width:100%;
}

.bottom-text {
    text-align: center;
    width: 100%;
    margin: 50px 0;
    color: $fontCol;
}

.right-view {
    background-color: $bg-dark;
    //height: 100vh;
    //padding: 70px 40px;
    color: white;
}

.right-view>div>div>p {
    font-size: 20px;
}

.three-dot > span {
    height: 12px; width: 12px;
    border-radius: 6px;
    background-color: $fontCol;
    margin: 20px 0;
    display: inline-block;
    margin-right: 10px;
}

.collage-container {
    max-height: 500px;
    overflow: hidden;
}

.collage-container>div>div>img {
    border-radius: 8px;
}

.flag-container {
    position: relative;
}

.flag-container > input {
    padding-left: 90px !important;
}

.flag {
    position: absolute;
    left: 3px;
    top: 0px;
    //padding: 3px;
}

.flag > img {
    border-radius: 10px;
}

.flags-menu {
    position:absolute;
    top: 44px;    
}

@media (min-width: 992px) {
    .collage-container {
        max-height: 1000px;
        overflow: hidden;
    }

    .collage-container>div>div>img {
        border-radius: 16px;
    }
}